@model IEnumerable<EventManagementSystem.Models.Event>

@{
    ViewData["Title"] = "我发布的活动";
}

<h1>我发布的活动</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">发布新活动</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>活动名称</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>地点</th>
            <th>报名人数</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
                <td>@Html.DisplayFor(modelItem => item.EndTime)</td>
                <td>@Html.DisplayFor(modelItem => item.Location)</td>
                <td>@item.Registrations?.Count / @item.MaxParticipants</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">详情</a>
                    <a asp-action="Registrations" asp-route-id="@item.Id" class="btn btn-primary">报名情况</a>
                </td>
            </tr>
        }
    </tbody>
</table>